{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily DSCN Maintenance Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'supervisor/datisstyle.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Righteous&display=swap" rel="stylesheet">
       
</head>
<body> 
    <div class="container">
        
        <nav class="navbar sticky-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href='#' onclick="window.location.href='{% url redir%}'" class="taskbut"><img src="{% static '/images/task.png' %}"></a>
                </li>
            </ul>
            <div class="title-header">PREVENTIVE MAINTENANCE LOG<img src="{% static '/images/aai.jpg' %}"></div>
        </nav>
        <br>
        

        <div class="row">
            <div class="col-sm-7">

              {% if temp.unit_incharge_approval == NONE %}

                  {% if temp.sat_led == None %}             
                        <div class="alert alert-danger">
                          <strong>Report Not Submitted</strong>

                      {% elif temp.coro_function == "OK" and temp.ip_voltage > 219 and temp.ip_voltage < 241 and temp.op_voltage > 219 and temp.op_voltage < 241 and temp.battery_voltage > 180 and temp.battery_voltage < 250 and temp.power_led == "STEADY ON" and temp.sat_led == "STEADY ON" and temp.odu_led == "STEADY ON" and temp.io_led == "STEADY ON" and temp.alarm_led == "OFF" and temp.v35_led == "RX/TX BLINKING" %}
                        <div class="alert alert-success">
                          <strong> All maintenance entries matched with standard values.</strong>                   

                      {% else %}             
                        <div class="alert alert-danger">
                            <strong>Maintenance values do not match standards.</strong>  
                      

                  {% endif %}

              {% else %}

                  {% if temp.unit_incharge_approval == "NO" %}
                    <div class="alert alert-danger">
                      <strong>Report Declined; Waiting for update.</strong>
                 
                  {% endif %}

                  {% if temp.unit_incharge_approval == "YES" %}
                    <div class="alert alert-success">
                      <strong>Report Approved.</strong> 

                  {% endif %}

              {% endif %}

                <div class="card" style="text-align: center;">            
                  
                  <form id="form-v">                    
                        <div class="card-body">
                            <h2 class="card-title">DSCN-TERMA DAILY MAINTENANCE Report</h2>
                          
                            {% for log in logs|slice:":1" %}
                            <div class="alert alert-light" style="height: 40px; padding-top: 0px">
                                   Recorded on:  DATE: {{ temp.date }}  |  TIME: {{ temp.time }}<br>
                                    <strong>STATUS: {{ temp.status }}  |  EmployeeID: {{ log.emp_id }}</strong> 
                                   
                            </div>
                            {% endfor %}
                             
                             <hr>
                              <div class="form-group row has-warning">
                                <label for="sat_led" class="col-sm-6 col-form-label">SAT LED*</label>
                                <div>
                                  <input type="text" class="form-control form-control-sm" id="sat_led" name="sled" readonly="true" value="{{ temp.sat_led }}">
                                </div>
                              </div>
                            <hr>
                              <div class="form-group row has-warning">
                                <label for="odu_led" class="col-sm-6 col-form-label">ODU LED*</label>
                                <div>
                                   <input type="text" class="form-control form-control-sm" id="odu_led" name="ioled" readonly="true" value="{{ temp.io_led }}">
                                </div>
                              </div>
                          
                            <hr>  
                              <div class="form-group row has-warning">
                                <label for="alarm_led" class="col-sm-6 col-form-label">Alarm LED*</label>
                                <div>
                                  <input type="text" class="form-control form-control-sm" id="alarm_led" name="aled" readonly="true" value="{{ temp.alarm_led }}"/><br>
                                </div>
                              </div>


                            <hr>
                              <div class="form-group row has-warning">
                                <label for="power_led" class="col-sm-6 col-form-label">Power LED*</label>
                                <div>
                                  <input type="text" class="form-control form-control-sm" id="power_led" name="pwled" readonly="true" value="{{ temp.power_led }}"/><br>
                                </div>
                              </div>

                            
                              <hr>  
                              <div class="form-group row has-warning">
                                <label for="v35_led" class="col-sm-6 col-form-label">V35 LED*</label>
                                <div>
                                  <input type="text" class="form-control form-control-sm" id="v35_led" name="v35led" readonly="true" value="{{ temp.v35_led }}">
                                </div>
                              </div>                                
                              
                              <hr>  
                              <div class="form-group row has-warning">
                                <label for="ip_voltage" class="col-sm-6 col-form-label">I/P Voltage*</label>
                                <div>
                                  <input type="text" class="form-control form-control-sm" id="ip_voltage" name="ipv" readonly="true" value="{{ temp.ip_voltage }}">
                                </div>
                              </div>
                
                                  
                                  
                                <hr>  
                                <div class="form-group row has-warning">
                                  <label for="op_voltage" class="col-sm-6 col-form-label">O/P Voltage*</label>
                                  <div>
                                    <input type="text" class="form-control form-control-sm" id="op_voltage" name="opv" readonly="true" value="{{ temp.op_voltage }}">
                                  </div>
                                </div>
                  
                                    
                                  <hr>
                                    <div class="form-group row has-warning">
                                      <label for="battery_voltage" class="col-sm-6 col-form-label">Battery Voltage*</label>
                                      <div>
                                        <input type="text" class="form-control form-control-sm" id="battery_voltage" name="" readonly="true" value="{{ temp.battery_voltage }}">
                                      </div>
                                    </div>
                      
                                        
                                    <hr>  
                                    <div class="form-group row has-warning">
                                      <label for="coro_function" class="col-sm-6 col-form-label">CorO Function*</label>
                                      <div>
                                        <input type="text" class="form-control form-control-sm" id="cof" name="cof" readonly="true" value="{{ temp.coro_function }}">
                                      </div>
                                                                  
                                    </div>

                                
                                <hr>
                                {% if temp.status != "PENDING" and temp.unit_incharge_approval == NONE %}
                                  {% if temp.status == "COMPLETED WITH ERRORS" %}                      
                                      <button type="button" data-toggle="modal" data-target="#recheck" style="width: 100px; margin-right: 10%;"class="btn submitbut">DECLINE</button>
                                      
                                  {% endif %}
                                  {% if temp.unit_incharge_approval != "YES" %}
                                  <a href='/verify/{{names}}/{{temp.p_token}}' class="btn submitbut" >APPROVE</a>      
                                  <!-- <button class="btn submitbut" onclick="window.location.href='/verify/{{names}}/{{temp.p_token}}'" >APPROVE </button> -->
                                {% endif %}
                                {% endif %}
</form></div>
                                <div class="modal fade" id="recheck">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title">SEND REPORT FOR RECHECKING</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          </div>
                                          <div class="modal-body">
                                           <div class="helloform" style="padding:0">
                                              <form method='post' action="{% url 'supervisor:sent' %}" >
                                                  {% csrf_token %}
                                                  <br>
                                                  <div class="form-group row has-warning">
                                                      <label for="to" class="col-sm-6 col-form-label">TO:</label>
                                                      <div>
                                                        <input class="form-control form-control-sm" type='text' readonly value="{{eng.email}}"  ></input><!-- Non functional -->
                                                      </div>
                                                  </div>
                                                 
                                                  <div class="form-group row has-warning">
                                                      <label for="name" class="col-sm-6 col-form-label">NAME:</label>
                                                      <div>
                                                        <input class="form-control form-control-sm" type='text' readonly value="{{eng.name}}" ></input><!-- Non functional -->
                                                      </div>
                                                  </div>
                                                  <div class="form-group row has-warning">
                                                      <label for="des" class="col-sm-6 col-form-label">DESIGNATION:</label>
                                                      <div>
                                                        <input class="form-control form-control-sm" type='text' readonly value="{{eng.designation}}"  ></input><!-- Non functional -->
                                                      </div>
                                                  </div>
                                                  <hr>
                                                 
                                                  <div class="form-group row has-warning">
                                                      <label for="body" class="col-sm-6 col-form-label">BODY:</label>
                                                      <div>
                                                        <textarea rows="5" placeholder="Enter message" size="100" name='feedback' value="Hello {$name}, this is regarding the issue." required="required"></textarea> 
                                                      </div>
                                                  </div>
                                                  <hr>                                                  
                                                  <button type="submit" class="btn btn-primary" value="SEND">Submit</button>
                                              </form>
                                            </div>
                                          </div>
                                          
                                        </div>
                                      </div>
                                    </div>    

                        </div>
                                                          
                </div>                      
            </div>
<!--if statement
            <div class="alert alert-success">
                    <strong>Report sent</strong> 
                </div>  -->               

            <div class="col-sm-5" >
                <div class="sidebar s" >
                    <div class="col-sm-12">
                      <div class="card mb-3 sidecard" style="width: 22rem; " >
                          <div class="card-body" data-toggle="modal" data-target="#pastlog" href='#' >
                              <h6>MAINTENANCE HISTORY</h6>
                          </div>
                      </div>    
                    </div>
                    <div class="row rows">
                        <div class="col">
                            <div class="card sidecard"  style="margin-left: 1rem; width:10rem;">
                                <div class="card-body" data-toggle="modal" data-target="#standardcheck" href='#'>
                                    <h6>CHECK STANDARDS</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                          <div class="card sidecard" style="width:10rem;" >
                                <div class="card-body" data-toggle="modal" data-target="#contactsuper" href='#'>
                                    <h6>CONTACT ENGINEER</h6>
                                </div>
                            </div>     
                        </div>
                    </div>    
                </div>
                {% if temp.sat_led != None %}
                <div> 
                    <div class="logr">                       
                        <div class="card sidecard logrtitle"> REPORT LOG </div>
                        <div class="tablogr">
                            <table class= "table-bordered table-condensed table-striped table-hover todaytasks tabr">
                                <thead >
                                    <tr>
                                      <th>Log_ID</th>
                                      <th>Remarks</th>
                                      <th>Value</th>
                                      <th>Date-Time</th>  
                                    </tr>
                                </thead>
                                <tbody>
                                {% for log in logs %}
                                    <tr>
                                        <td>{{ log.log_id }}</td>
                                        <td>{{ log.remarks }}</td>
                                        <td>{{ log.value }}</td>
                                        <td>{{ log.time }}<br>{{ log.date }}</td>
                                     </tr>
                                {% endfor %}
                              </tbody>                           
                            </table>
                        </div>
                    </div>
                </div>   
              {% endif %}
                <div class="modal fade" id="standardcheck">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Standards</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-condensed table-striped table-hover todaytasks">
                                    
                            <tr>
                              <th>VALUE LABEL</th>
                              <th>NORMAL VALUE</th>
                          </tr>
                          <tr>
                              <td>SAT LED</td>
                              <td>Steady ON</td>
                          </tr>
                          
                            <tr>
                              <td>ODU LED</td>
                              <td>Steady ON</td>
                          </tr>
                              <tr>
                              <td>I/O LED</td>
                              <td>Steady ON</td>
                          </tr>
                              <tr>
                              <td>Alarm LED</td>
                              <td>OFF</td>
                          </tr>
                              <tr>
                              <td>Power LED</td>
                              <td>Steady ON</td>
                          </tr>
                              <tr>
                              <td>V.35 LED</td>
                              <td>Rx/Tx- Blinking, When data is being Xmitted/R'cvd</td>
                          </tr>
                              <tr>
                              <td>Input Voltage</td>
                              <td>230-10%, 230+10%</td>
                          </tr>
                              <tr>
                              <td>Output Voltage</td>
                              <td>Refer Airtel/UPS service manual</td>
                          </tr>
                              <tr>
                              <td>Battery Voltage</td>
                              <td>Refer Airtel/UPS service manual</td>
                        </tr>
                              <tr>
                              <td>C/O Function</td>
                              <td>OK</td>
                        </tr>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="pastlog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Maintenance History</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-condensed table-striped table-hover todaytasks mantab">
                                    <thead>
                                        <tr>  
                                          <th>Date</th>
                                      <th>Time</th>
                                      <th>SAT LED</th>
                                      <th>ODU LED</th>
                                      <th>IO LED</th>
                                      <th>Alarm LED</th>
                                      <th>Power LED</th>
                                      <th>V35 LED</th>
                                      <th>IP Voltage</th>
                                      <th>OP voltage</th>
                                      <th>Battery Voltage</th>
                                      <th>CorO function</th>
                                      <th>Test</th>
                                        </tr>
                                    </thead>
                                    <tbody><!-- Need to change variables -->
                                        {% for temp in mrec %}
                                        <tr>
                                         
                                          <td>{{ temp.date }}</td>
                                          <td>{{ temp.time }}</td>
                                          <td>{{ temp.sat_led }}</td>
                                          <td>{{ temp.odu_led }}</td>
                                          <td>{{ temp.io_led }}</td>
                                          <td>{{ temp.alarm_led }}</td>
                                          <td>{{ temp.power_led }}</td>
                                          <td>{{ temp.v35_led }}</td>
                                          <td>{{ temp.ip_voltage }}</td>
                                          <td>{{ temp.op_voltage }}</td>
                                          <td>{{ temp.battery_voltage }}</td>
                                          <td>{{ temp.coro_function }}</td>
                                          
                                          {% if temp.coro_function == "OK" and temp.ip_voltage > 219 and temp.ip_voltage < 241 and temp.op_voltage > 219 and temp.op_voltage < 241 and temp.battery_voltage > 180 and temp.battery_voltage < 250 and temp.power_led == "STEADY ON" and temp.sat_led == "STEADY ON" and temp.odu_led == "STEADY ON" and temp.io_led == "STEADY ON" and temp.alarm_led == "OFF" and temp.v35_led == "RX/TX BLINKING" %}
                                          <td>Pass</td>
                                          {% else %}
                                         <td>Fail</td>
                                          {% endif %}
                                        </tr>
                                              {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="contactsuper">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">ENGINEER</h4><!-- Need to enter details -->
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <h5>{{eng.name}}</h5>
                              <h6>Email: <a href="{{ eng.email }}">{{eng.email}}</a></h6>
                              <h6>Phone: {{eng.contact}}</h6>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>  
                      </div>
                    </div>
                </div>                 
            </div>
        </div>
    </div>   
    <script>

        $(function(){
            if($("#sat_led").val()=="STEADY ON"){
               $('#sat_led').css('border-color', 'pale-green');
            }else{
               $('#sat_led').css('border-color', 'red');
            }

            if($("#odu_led").val()=="STEADY ON"){
               $('#odu_led').css('border-color', 'pale-green');
            }else{
               $('#odu_led').css('border-color', 'red');
            }

            if($("#alarm_led").val()=="OFF"){
               $('#alarm_led').css('border-color', 'pale-green');
            }else{
               $('#alarm_led').css('border-color', 'red');
            }

            if($("#power_led").val()=="STEADY ON"){
               $('#power_led').css('border-color', 'pale-green');
            }else{
               $('#power_led').css('border-color', 'red');
            }

            if($("#v35_led").val()=="RX/TX BLINKING" ){
               $('#v35_led').css('border-color', 'pale-green');
            }else{
               $('#v35_led').css('border-color', 'red');
            }

            if($("#ip_voltage").val()>"219"){
               $('#ip_voltage').css('border-color', 'pale-green');
            }else{
               $('ip_voltage').css('border-color', 'red');
            }

            if($("#op_voltage").val()>"219" && $("#op_voltage").val()<"241"){
               $('#op_voltage').css('border-color', 'pale-green');
            }else{
               $('op_voltage').css('border-color', 'red');
            }

            if($("#battery_voltage").val()>"180" && $("#battery_voltage").val()<"250"){
               $('#battery_voltage').css('border-color', 'pale-green');
            }else{
               $('#battery_voltage').css('border-color', 'red');
            }

            if($("#cof").val()=="OK" ){
               $('#cof').css('border-color', 'pale-green');
            }else{
               $('#cof').css('border-color', 'red');
            }
           
        });
    </script>
</body>

</html>





