{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily CDVOR Maintenance Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'engineer/datisstyle.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Righteous&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="container">
        <nav class="navbar sticky-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                  
                    <a href='#' onclick="window.location.href='/cdvordaily/{{ id }}'" class="taskbut"><img src="{% static '/images/task.png' %}"></a>
                </li>
            </ul>
            <div class="title-header">PREVENTIVE MAINTENANCE LOG<img src="{% static '/images/aai.jpg' %}"></div>
        </nav>
        <br>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <div class="alert alert-danger">
                <strong>Maintenance failed!!!</strong> 
                Submission to the Supervisor
                <form method='POST' action='/finalcdrepsub/{{ p_id }}/{{ id }}'>
                {% csrf_token %}
                {% for cdvordd in cdvord %}     
                 <div class="card" style="text-align: center;">
                <div class="card-body">
                  <h2 class="card-title">CDVOR DAILY MAINTENANCE ENTRY</h2>
                  <div class="alert alert-light" style="height: 40px; padding-top: 0px">
                    Recorded on:  DATE: {{ cdvordd.date }}  |  TIME: {{ cdvordd.time }}<br>
                                    <strong>STATUS: {{ cdvordd.status }} </strong>
                </div>
                  <hr>   
                  <div class="form-group row has-warning">
                    <label for="azimuth_angle" class="col-sm-6 col-form-label">Azimuth angle</label>
                    <div>
                         <input type="text/number" class="form-control form-control-sm" id="azimuth_angle" name="Azimuth angle" readonly="true"  value="{{ cdvordd.azimuth_angle }}" required>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row has-warning">
                      <label for="number_30hz_modulation" class="col-sm-6 col-form-label">30Hz modulation</label>
                      <div>
                           <input type="text/number" class="form-control form-control-sm" id="number_30hz_modulation" name="30Hz modulation" readonly="true" value="{{ cdvordd.number_30hz_modulation }}" required>
                      </div>
                    </div>
                  <hr>
                  <div class="form-group row has-warning">
                      <label for="number_9960hz_modulation" class="col-sm-6 col-form-label">9960hz modulation</label>
                      <div>
                           <input type="text/number" class="form-control form-control-sm" id="number_9960hz_modulation" name="9960Hz modulation" readonly="true" value="{{ cdvordd.number_9960hz_modulation }}" required>
                      </div>
                    </div>
                  <hr>
                  <div class="form-group row has-warning">
                      <label for="number_9960hz_deviation" class="col-sm-6 col-form-label">9960hz deviation</label>
                      <div>
                           <input type="text/number" class="form-control form-control-sm" id="number_9960hz_deviation" name="9960Hz deviation" readonly="true" value="{{ cdvordd.number_9960hz_deviation }}" required>
                      </div>
                    </div>  
                   <hr>
                   <div class="form-group row has-warning">
                      <label for="field_intensity" class="col-sm-6 col-form-label">Field intensity</label>
                      <div>
                           <input type="text/number" class="form-control form-control-sm" id="field_intensity" name="Field intensity" readonly="true" value="{{ cdvordd.field_intensity }}" required>
                      </div>
                    </div>  
                  <hr>

                        <div class="alert" style="background-color: #DBDBDB">
                <strong>Remarks</strong>(Final submission)</div>

            <!-- <div class="col-sm-1"></div> -->
                                
                
                <div class="form-group row has-warning"style="padding-left:0" >
                  <textarea class="form-control form-control-sm" rows="5" id="procedure" placeholder="Please specify the reason why error prevails in brief" name='remarks' required></textarea>
                  <!--<input type="textarea" class="form-control " id="room_temp" name="Maintenance Procedure"  style="height:200px;" required>-->
                 
              </div>
                <!--<div class="form-group row has-warning" >
                    <input required type="text" name="remarks" class="form-control form-control-sm" rows="5" id="procedure" placeholder="Please specify the reason why error prevails in brief.">-->
                    <hr>
                    <button class="btn submitbut">FINAL SUBMIT</button>
                  </div>
                    {% endfor %}
                  </div>
                </div>
            </form>
            <!-- <button onclick="window.location.href='/datisdaily/{{ id }}'">Back</button> -->
        </div>
        
    </div>

<script>
$(function(){
  if($("#azimuth_angle").val()<"25"){
            	 $('#azimuth_angle').css('border-color', 'pale-green');
            }else{
               $('#azimuth_angle').css('border-color', 'red');
            }

            if($("#number_30hz_modulation").val()>="28" && $("#number_30hz_modulation").val()<"31"){
            	 $('#number_30hz_modulation').css('border-color', 'pale-green');
            }else{
               $('#number_30hz_modulation').css('border-color', 'red');
            }

            if($("#number_9960hz_modulation").val()>="28" && $("#number_9960hz_modulation").val()<"31"){
            	 $('#number_9960hz_modulation').css('border-color', 'pale-green');
            }else{
               $('#number_9960hz_modulation').css('border-color', 'red');
            }

             if($("#number_9960hz_deviation").val()>="15" && $("#number_9960hz_deviation").val()<"18"){
            	 $('#number_9960hz_deviation').css('border-color', 'pale-green');
            }else{
               $('#number_9960hz_deviation').css('border-color', 'red');
            }

             if($("#field_intensity").val()>= -1 && $("#field_intensity").val()<"2"){
            	 $('#field_intensity').css('border-color', 'pale-green');
            }else{
               $('#field_intensity').css('border-color', 'red');
            }
          
     $('#procedure').css('border-color', '#CED4DA');
    });

 
  $("#procedure").on("keyup",function(){
      if($("#procedure").val()==""){
         $('#procedure').css('border-color', 'red');
          return false;
      }else{
         $('#procedure').css('border-color', '#CED4DA');
      }
  });
</script>
</body>        
</html>