{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Monthly DSCN Maintenance Entry</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'engineer/datisstyle.css' %}">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!--<script src="strength.js"></script> temp-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Gotu&family=Righteous&display=swap" rel="stylesheet">
</head>
<body> 
	<div class="container">
		
		<nav class="navbar sticky-top">
			<ul class="navbar-nav">
	    		<li class="nav-item">
	      			<a href='#' onclick="window.location.href='/routebackdd/{{ id }}'" class="taskbut"><img src="{% static '/images/task.png' %}"></a>		
	    		</li>
	    	</ul>
			<div class="title-header">PREVENTIVE MAINTENANCE LOG<img src="{% static '/images/aai.jpg' %}"></div>
			
		</nav>
		<br>
			<div class="row">
				<div class="col-sm-7">
					<form method='POST' action='/dscnmrepsub/{{ id }}' id="form-v">
						{% csrf_token %}
					    <div class="card" style="text-align: center;">
					      <div class="card-body">
					        <h2 class="card-title">DSCN MONTHLY MAINTENANCE ENTRY</h2>
                          
                           
                            <hr>
							<div class="form-group row has-warning">
							  <label for="Cleaning_DSCN_associated_eqpt" class="col-sm-6 col-form-label">Cleaning DSCN associated eqpt</label>
							  <div>
							   	<input type="text" class="form-control form-control-sm" id="Cleaning_DSCN_associated_eqpt" name="cdae"  required>
							  </div>
                            </div>
                            
                            <hr>
							<div class="form-group row has-warning">
							  <label for="Battery_backup_time_of_UPS1nUPS2" class="col-sm-6 col-form-label">Battery backup time of UPS1nUPS2</label>
							  <div>
							   	<input type="text" class="form-control form-control-sm" id="Battery_backup_time_of_UPS1nUPS2" name="bbt"  required>
							  </div>
							</div>
 
                            <hr>
							<div class="form-group row has-warning">
							  <label for="UPS_battery_voltage_on_load" class="col-sm-6 col-form-label">UPS battery voltage on load</label>
							  <div>
							   	<input type="text" class="form-control form-control-sm" id="UPS_battery_voltage_on_load" name="ubvl"  required>
							  </div>
                            </div>
                            <hr>
							<div class="form-group row has-warning">
							  <label for="Antenna_n_Cable_check" class="col-sm-6 col-form-label">Antenna and Cable check</label>
							  <div>
							   	<input type="text" class="form-control form-control-sm" id="Antenna_n_Cable_check" name="ancc"  required>
							  </div>
							</div>
                            <hr>
							<div class="form-group row has-warning">
							  <label for="Earth_resistance" class="col-sm-6 col-form-label">Earth resistance</label>
							  <div>
							   	<input type="text" class="form-control form-control-sm" id="Earth_resistance" name="er"  required>
							  </div>
							</div>
                            <hr>
							<div class="form-group row has-warning">
							  <label for="EorN_voltage" class="col-sm-6 col-form-label">EorN voltage</label>
							  <div>
							   	<input type="number" class="form-control form-control-sm" id="EorN_voltage" name="ev"  required>
							  </div>
							</div>
                            <hr>
							<div class="form-group row has-warning">
							  <label for="Eqpt_status_after_check" class="col-sm-6 col-form-label">Eqpt status after check</label>
							  <div>
							   	<input type="text" class="form-control form-control-sm" id="Eqpt_status_after_check" name="esac"  required>
							  </div>
							</div>


							
							<button class="btn submitbut">SUBMIT</button>

				      		</div>
				    	</div>
				  	</form>
				</div>
	
				<div class="col-sm-5" >
	            	<div class="sidebar s s_01" >
		                <div class="col-sm-12">
		                  <div class="card mb-3 sidecard" style="width: 22rem; padding-top:10px; padding-bottom: 10px;" >
		                      <div class="card-body" data-toggle="modal" data-target="#pastlog" href='#' >
		                          <h6>MAINTENANCE HISTORY</h6>
		                      </div>
	                  	  </div>    
	                	</div>
	                	<div class="row rows">
		                    <div class="col">
		                      	<div class="card sidecard"  style="margin-left: 1rem; width:10rem;">
		                          	<div class="card-body" data-toggle="modal" data-target="#standardcheck" href='#'>
		                              	<h6>CHECK STANDARDS</h6>
		                          	</div>
		                      	</div>
		                    </div>
		                    <div class="col">
		                      <div class="card sidecard" style="width:10rem;" >
		                            <div class="card-body" data-toggle="modal" data-target="#contactsuper" href='#'>
		                                <h6>CONTACT SUPERVISOR</h6>
		                            </div>
		                        </div>     
		                    </div>
	                	</div>    
	              	</div>
	              </div>

				<div class="modal fade" id="standardcheck">
				    <div class="modal-dialog" >
				      <div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title">Standards</h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div class="modal-body">
				          <table class="table table-bordered table-condensed table-striped table-hover todaytasks">
				          	<tr>
								<th>VALUE LABEL</th>
								<th>NORMAL VALUE</th>
							</tr>
							<tr>
								<td>CLEANING DSCN ASSOCIATED EQUIPMENT</td>
								<td>(Check if completed)</td>
							</tr>
							
							  <tr>
								<td>BATTERY BACKUP TIME OF UPS1 AND UPS2</td>
								<td>(Check if enough)</td>
							</tr>
								<tr>
								<td>UPS BATTERY VOLTAGE ON LOAD</td>
								<td>(Check if proper)</td>
							</tr>
								<tr>
								<td>ANTENNA AND CABLE CHECK</td>
								<td>(Check if okay)</td>
							</tr>
								<tr>
								<td>EARTH RESISTANCE</td>
								<td>(Check if okay)</td>
							</tr>
								<tr>
								<td>E OR N VOLTAGE</td>
								<td>(Check value)</td>
							</tr>
								<tr>
								<td>EQUIPMENT STATUS AFTER CHECK</td>
								<td>(Check if okay)</td>
								</tr>  
				          </table>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				        </div>  
				      </div>
				    </div>
				</div>
</div>

<div class="modal fade" id="pastlog">
				    <div class="modal-dialog modal-lg">
				      <div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title">Maintenance History</h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div class="modal-body">
				          <table class="table table-bordered table-condensed table-striped table-hover todaytasks mantab">
            <thead>
                <tr>  
					<th>Date-Time</th>
					<th>Cleaning DSCN associated eqpt</th>
				  <th>Battery backup time of UPS1 and UPS2</th>
						<th>UPS battery voltage on load</th>
					 <th>Antenna and cable check</th>
					 <th>Earth resistance</th>
					 <th>E or N voltage</th>
					 <th>Equipment status after check</th>
					 <th>Remarks</th>
					 <th>Test</th> </tr>
                </thead>
                <tbody>
                      {% for dscnm in dscn_m %}
                  <tr>
                   
					<td>{{ dscnm.date }}<br>{{ dscnm.time }}</td>
                    <td>{{ dscnm.cleaning_dscn_associated_eqpt }}</td>
                    <td>{{ dscnm.battery_backup_time_of_ups1nups2	 }}</td>
                    <td>{{ dscnm.ups_battery_voltage_on_load }}</td>
                    <td>{{ dscnm.antenna_n_cable_check }}</td>
                    <td>{{ dscnm.earth_resistance }}</td>
                    <td>{{ dscnm.eorn_voltage }}</td>
                    <td>{{ dscnm.eqpt_status_after_check }}</td>
                    <td>{{ dscnm.remarks }}</td>
                     <td>Pass</td>
                  </tr>
			  {% endfor %}
				</tbody>
				          </table>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				        </div>  
				      </div>
				    </div>
				</div>
</div>





				<div class="modal fade" id="contactsuper">
				    <div class="modal-dialog">
				      <div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title">SUPERVISOR</h4>
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				        </div>
				        <div class="modal-body">
							{% for sup in supdetails %}
				          <h5>{{ sup.name }}</h5>
				          <h6>Email: <a href="mailto:{{ sup.email }}">{{ sup.email }}</a></h6>
						 
						  <!--put the contact in the a href as mailto:{{ contact }} and outside in phone too-->
						  <h6>Phone: {{ sup.contact }}</h6>
						  {% endfor %}
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				        </div>  
				      </div>
				    </div>
				</div>
				
			
				
			</div>

	</div>
	<!--ADDITION-->
<script>
 $('#Cleaning_DSCN_associated_eqpt').css('border-color', '#CED4DA');
  $('#Battery_backup_time_of_UPS1nUPS2').css('border-color', '#CED4DA');
  $('#UPS_battery_voltage_on_load').css('border-color', '#CED4DA');
  $('#Antenna_n_Cable_check').css('border-color', '#CED4DA');
  $('#Earth_resistance').css('border-color', '#CED4DA');
  $('#EorN_voltage').css('border-color', '#CED4DA');
  $('#Eqpt_status_after_check').css('border-color', '#CED4DA');

</script>
</body>

