{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monthly CDVOR Maintenance Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'supervisor/datisstyle.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Righteous&display=swap" rel="stylesheet">
       
</head>
<body onbeforeunload="return OnBeforeUnLoad ()"> 
    <div class="container">
        
        <nav class="navbar sticky-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href='#' onclick="window.location.href='{% url redir%}'" class="taskbut"><img src="{% static '/images/task.png' %}"></a>
                </li>
            </ul>
            <div class="title-header">PREVENTIVE MAINTENANCE LOG<img src="{% static '/images/aai.jpg' %}"></div>
        </nav>
        <br>
        

        <div class="row">
            <div class="col-sm-7">

              {% if temp.unit_incharge_approval == NONE %}

                  {% if temp.bearing_deviation_1 == None %}             
                        <div class="alert alert-danger">
                          <strong>Report Not Submitted</strong>

                      {% elif temp.bearing_deviation_1 < 1 and temp.bearing_deviation_2 < 1 and temp.bearing_deviation_3 < 1 and temp.bearing_deviation_4 < 1 and temp.bearing_deviation_5 < 1 and temp.error_spread < 0.5 %}
                        <div class="alert alert-success">
                          <strong> All maintenance entries matched with standard values.</strong>                   

                      {% else %}             
                        <div class="alert alert-danger">
                            <strong>Maintenance values do not match standards.</strong>  
                      

                  {% endif %}

              {% else %}

                  {% if temp.unit_incharge_approval == "NO" %}
                    <div class="alert alert-danger">
                      <strong>Report Declined; Waiting for update.</strong>
                 
                  {% endif %}

                  {% if temp.unit_incharge_approval == "YES" %}
                    <div class="alert alert-success">
                      <strong>Report Approved.</strong> 

                  {% endif %}

              {% endif %}

                <div class="card" style="text-align: center;">            
                  
                  <form id="form-v">                    
                        <div class="card-body">
                            <h2 class="card-title">CDVOR-TERMA MONTHLY MAINTENANCE Report</h2>
                          
                            {% for log in logs|slice:":1" %}
                            <div class="alert alert-light" style="height: 40px; padding-top: 0px">
                                   Recorded on:  DATE: {{ temp.date }}  |  TIME: {{ temp.time }}<br>
                                    <strong>STATUS: {{ temp.status }}  |  EmployeeID: {{ log.emp_id }}</strong> 
                                   
                            </div>
                            {% endfor %}
                             
                            <hr>
                  <div class="form-group row has-warning">
                    <label for="measured_bearing_1" class="col-sm-6 col-form-label">Measured bearing 1</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="measured_bearing_1" name="Measured bearing 1" readonly="true" value="{{ temp.measured_bearing_1 }}">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row has-warning">
                    <label for="bearing_deviation_1" class="col-sm-6 col-form-label">Bearing deviation 1</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="bearing_deviation_1" name="Bearing deviation 1" readonly="true" value="{{ temp.bearing_deviation_1 }}">
                    </div>
                  </div>

                  <hr>
                  
                  <div class="form-group row has-warning">
                    <label for="measured_bearing_2" class="col-sm-6 col-form-label">Measured bearing 2</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="measured_bearing_2" name="Measured bearing 2" readonly="true" value="{{ temp.measured_bearing_2 }}">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row has-warning">
                    <label for="bearing_deviation_2" class="col-sm-6 col-form-label">Bearing deviation 2</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="bearing_deviation_2" name="Bearing deviation 2" readonly="true" value="{{ temp.bearing_deviation_2 }}">
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row has-warning">
                    <label for="measured_bearing_3" class="col-sm-6 col-form-label">Measured bearing 3</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="measured_bearing_3" name="Measured bearing 3" readonly="true" value="{{ temp.measured_bearing_3 }}">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row has-warning">
                    <label for="bearing_deviation_3" class="col-sm-6 col-form-label">Bearing deviation 3</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="bearing_deviation_3" name="Bearing deviation 3" readonly="true" value="{{ temp.bearing_deviation_3 }}">
                    </div>
                  </div>

                  <hr>
                  
                  <div class="form-group row has-warning">
                    <label for="measured_bearing_4" class="col-sm-6 col-form-label">Measured bearing 4</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="measured_bearing_4" name="Measured bearing 4" readonly="true" value="{{ temp.measured_bearing_4 }}">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row has-warning">
                    <label for="bearing_deviation_4" class="col-sm-6 col-form-label">Bearing deviation 4</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="bearing_deviation_4" name="Bearing deviation 4" readonly="true" value="{{ temp.bearing_deviation_4 }}">
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row has-warning">
                    <label for="measured_bearing_5" class="col-sm-6 col-form-label">Measured bearing 5</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="measured_bearing_5" name="Measured bearing 5" readonly="true" value="{{ temp.measured_bearing_5 }}">
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row has-warning">
                    <label for="bearing_deviation_5" class="col-sm-6 col-form-label">Bearing deviation 5</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="bearing_deviation_5" name="Bearing deviation 5" readonly="true" value="{{ temp.bearing_deviation_5 }}">
                    </div>
                  </div>

                  <hr>

                  <div class="form-group row has-warning">
                    <label for="error_spread" class="col-sm-6 col-form-label">Error Spread</label>
                    <div>
                      <input type="text" class="form-control form-control-sm" id="error_spread" name="Error spread" readonly="true" value="{{ temp.error_spread }}">
                    </div>
                  </div>

                                
                                <hr>
                                {% if temp.status != "PENDING" and temp.unit_incharge_approval == NONE %}
                                  {% if temp.status == "COMPLETED WITH ERRORS" %}                      
                                      <button type="button" data-toggle="modal" data-target="#recheck" style="width: 100px; margin-right: 10%;"class="btn submitbut">DECLINE</button>
                                      
                                  {% endif %}
                                  {% if temp.unit_incharge_approval != "YES" %}
                                  <a href='/verify/{{names}}/{{temp.p_token}}' class="btn submitbut" >APPROVE</a>      
                                {% endif %}
                                {% endif %}
</form></div>
                                <div class="modal fade" id="recheck">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title">SEND REPORT FOR RECHECKING</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          </div>
                                          <div class="modal-body">
                                           <div class="helloform" style="padding:0">
                                              <form method='post' action="{% url 'supervisor:sent' %}" >
                                                  {% csrf_token %}
                                                  <br>
                                                  <div class="form-group row has-warning">
                                                      <label for="to" class="col-sm-6 col-form-label">TO:</label>
                                                      <div>
                                                        <input class="form-control form-control-sm" type='text' readonly value="{{eng.email}}"  ></input><!-- Non functional -->
                                                      </div>
                                                  </div>
                                                 
                                                  <div class="form-group row has-warning">
                                                      <label for="name" class="col-sm-6 col-form-label">NAME:</label>
                                                      <div>
                                                        <input class="form-control form-control-sm" type='text' readonly value="{{eng.name}}" ></input><!-- Non functional -->
                                                      </div>
                                                  </div>
                                                  <div class="form-group row has-warning">
                                                      <label for="des" class="col-sm-6 col-form-label">DESIGNATION:</label>
                                                      <div>
                                                        <input class="form-control form-control-sm" type='text' readonly value="{{eng.designation}}"  ></input><!-- Non functional -->
                                                      </div>
                                                  </div>
                                                  <hr>
                                                 
                                                  <div class="form-group row has-warning">
                                                      <label for="body" class="col-sm-6 col-form-label">BODY:</label>
                                                      <div>
                                                        <textarea rows="5" placeholder="Enter message" size="100" name='feedback' value="Hello {$name}, this is regarding the issue." required="required"></textarea> 
                                                      </div>
                                                  </div>
                                                  <hr>                                                  
                                                  <button type="submit" class="btn btn-primary" value="SEND">Submit</button>
                                              </form>
                                            </div>
                                          </div>
                                          
                                        </div>
                                      </div>
                                    </div>    

                        </div>
                                                          
                </div>                      
            </div>
<!--if statement
            <div class="alert alert-success">
                    <strong>Report sent</strong> 
                </div>  -->               

            <div class="col-sm-5" >
                <div class="sidebar s" >
                    <div class="col-sm-12">
                      <div class="card mb-3 sidecard" style="width: 22rem; " >
                          <div class="card-body" data-toggle="modal" data-target="#pastlog" href='#' >
                              <h6>MAINTENANCE HISTORY</h6>
                          </div>
                      </div>    
                    </div>
                    <div class="row rows">
                        <div class="col">
                            <div class="card sidecard"  style="margin-left: 1rem; width:10rem;">
                                <div class="card-body" data-toggle="modal" data-target="#standardcheck" href='#'>
                                    <h6>CHECK STANDARDS</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                          <div class="card sidecard" style="width:10rem;" >
                                <div class="card-body" data-toggle="modal" data-target="#contactsuper" href='#'>
                                    <h6>CONTACT ENGINEER</h6>
                                </div>
                            </div>     
                        </div>
                    </div>    
                </div>
                <div> 
                    <div class="logr">                       
                        <div class="card sidecard logrtitle"> REPORT LOG </div>
                        <div class="tablogr">
                            <table class= "table-bordered table-condensed table-striped table-hover todaytasks tabr">
                                <thead >
                                    <tr>
                                      <th>Log_ID</th>
                                      <th>Remarks</th>
                                      <th>Value</th>
                                      <th>Date-Time</th>  
                                    </tr>
                                </thead>
                                <tbody>
                                {% for log in logs %}
                                    <tr>
                                        <td>{{ log.log_id }}</td>
                                        <td>{{ log.remarks }}</td>
                                        <td>{{ log.value }}</td>
                                        <td>{{ log.time }}<br>{{ log.date }}</td>
                                     </tr>
                                {% endfor %}
                              </tbody>                           
                            </table>
                        </div>
                    </div>
                </div>   
                <div class="modal fade" id="standardcheck">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Standards</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-condensed table-striped table-hover todaytasks">
                                    
	                            	<tr>
		                              <th>VALUE LABEL</th>
		                              <th>NORMAL VALUE</th>
	                         	 	</tr>
		                          	<tr>
                                <td>Measured Bearing 1</td>
                                <td> 0</td>
                            </tr>
                                <tr>
                                <td>Measured Bearing 2</td>
                                <td> 7.5</td>
                            </tr>
                                <tr>
                                <td>Measured Bearing 3</td>
                                <td> 15</td>
                            </tr>
                                <tr>
                                <td>Measured Bearing 4</td>
                                <td> 22.5</td>
                            </tr>
                                <tr>
                                <td>Measured Bearing 5</td>
                                <td> 30</td>
                            </tr>
                                <tr>
                                <td>Error Spread</td>
                                <td>Minimum as possible, typically 0</td>
                            </tr>
	                            </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="pastlog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Maintenance History</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-condensed table-striped table-hover todaytasks mantab">
                                    <thead>
                                        <tr>  
                                          	<th>Date</th>
                                            <th>Time</th>
                                            <th>Measured Bearing 1</th>
                                            <th>Measured Bearing 2</th>
                                            <th>Measured Bearing 3</th>
                                            <th>Measured Bearing 4</th>
                                            <th>Measured Bearing 5</th>
                                            <th>Error Spread</th>
                                            <th>Test</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for temp in mrec %}
                                      <tr>
                                       
                                      <td>{{ temp.date }}</td>
                                        <td>{{ temp.time }}</td>
                                       <td>{{ temp.measured_bearing_1 }}</td>
                                        <td>{{ temp.measured_bearing_2 }}</td>
                                        <td>{{ temp.measured_bearing_3 }}</td>
                                        <td>{{ temp.measured_bearing_4 }}</td>
                                        <td>{{ temp.measured_bearing_5 }}</td>
                                        <td>{{ temp.error_spread }}</td>
                                        {% if temp.bearing_deviation_1 < 1 and temp.bearing_deviation_2 < 1 and temp.bearing_deviation_3 < 1 and temp.bearing_deviation_4 < 1 and temp.bearing_deviation_5 < 1 and temp.error_spread < 0.5 %}
                                         <td>Pass</td>
                                       {% else %}
                                        <td>Fail</td>
                                     {% endif %}
                                     </tr>
                                     {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="contactsuper">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">ENGINEER</h4><!-- Need to enter details -->
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <h5>{{eng.name}}</h5>
                              <h6>Email: <a href="{{ eng.email }}">{{eng.email}}</a></h6>
                              <h6>Phone: {{eng.contact}}</h6>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>  
                      </div>
                    </div>
                </div>                 
            </div>
        </div>
    </div>   
    <script>
    	$(function(){
        if($("#bearing_deviation_1").val() >= '1.0' ){
        $('#measured_bearing_1').css('border-color', 'red');
        $('#bearing_deviation_1').css('border-color', 'red');
  
    }

    if($("#bearing_deviation_2").val() >= '1.0' ){
        $('#measured_bearing_2').css('border-color', 'red');
        $('#bearing_deviation_2').css('border-color', 'red');
  
    }
    
    if($("#bearing_deviation_3").val() >= '1.0' ){
        $('#measured_bearing_3').css('border-color', 'red');
        $('#bearing_deviation_3').css('border-color', 'red');
  
    }
   
    if($("#bearing_deviation_4").val() >='1.0' ){
        $('#measured_bearing_4').css('border-color', 'red');
        $('#bearing_deviation_4').css('border-color', 'red');
  
    }

     if($("#bearing_deviation_5").val() >='1.0' ){
        $('#measured_bearing_5').css('border-color', 'red');
        $('#bearing_deviation_5').css('border-color', 'red');
  
    }

     if($("#error_spread").val() >= '0.5' ){
        $('#error_spread').css('border-color', 'red');
    }

});
        
    </script>
</body>

</html>





