{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="{% static 'dgm/home.css' %}">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Gotu&family=Righteous&display=swap" rel="stylesheet">
		<style>
		.jumbotron {
		  background-image: url("{% static '/images/sky1.jpg' %}"); 
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		}
		</style>
</head>
<body> 
	<div class="container" >
		<div class="title-header"><img src="{% static '/images/aai.jpg' %}">PREVENTIVE MAINTENANCE LOG</div>
		<div class="jumbotron" style="padding-bottom: 20px;">
			<div class="row" style="height: 100%;">
				<div class="col-md-4">
					<div class="card cardlogo" style="word-wrap: break-word; height: 100%;" >
						<img class="card-img-top" src="{% static '/images/man1.jpg' %}" alt="FACE">
						<div class="card-body">
                              <br> <!-- check all here-->
                              {% for empdets in empdetails %}
						    <h5 class="card-title">{{ empdets.name }}</h5>
							<div class="data-emp">
								<h6 class="card-subsubtitle">{{ empdets.designation }}</h6> 
								<br>
                                <h6 class="card-subsubtitle">{{ empdets.contact }}</h6>
                                {% endfor %}
                                <br>
                                <br>
                                <button class="btn btn-primary contactbut"  href='#' onclick="window.location.href='/logout'" style="color: black;">Logout</button>
                                <br>
                                <br>
							</div>
					   </div>
					</div>      
				</div>	
	
				<div class="col-md-8" style="height: 100%;">
                    <iframe src="{% url 'maps' %}" style="height: 70vh; width: 100%;"></iframe>
                </div>

				
			</div>
		</div>
	</div>
</body>
</html>
