<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_66144f4b91e748c9bd262d339d0eb746 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_66144f4b91e748c9bd262d339d0eb746" ></div>
        
</body>
<script>    
    
            var map_66144f4b91e748c9bd262d339d0eb746 = L.map(
                "map_66144f4b91e748c9bd262d339d0eb746",
                {
                    center: [21.1458, 79.0882],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0aa018b111e441b19f3e6bb7c5a02006 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_66144f4b91e748c9bd262d339d0eb746);
        
    
            var marker_6b666e1388f84e54977a9d5013a6c3b8 = L.marker(
                [22.3325, 73.2171],
                {}
            ).addTo(map_66144f4b91e748c9bd262d339d0eb746);
        
    
        var popup_e4531cbb63e24cb4aa4fb221c4052670 = L.popup({"maxWidth": "100%"});

        
            var html_cfa7949d5c0e4711b9fe46a4a68a580d = $(`<div id="html_cfa7949d5c0e4711b9fe46a4a68a580d" style="width: 100.0%; height: 100.0%;"><h5>id:2102</h5><br><h5>name:Linus Torvaldas</h5><br><h5>contact:904471123</h5><br><h5>email:yes@gmail.com</h5><br><a href="/" target="_blank"> Vadodara </a></div>`)[0];
            popup_e4531cbb63e24cb4aa4fb221c4052670.setContent(html_cfa7949d5c0e4711b9fe46a4a68a580d);
        

        marker_6b666e1388f84e54977a9d5013a6c3b8.bindPopup(popup_e4531cbb63e24cb4aa4fb221c4052670)
        ;

        
    
    
            marker_6b666e1388f84e54977a9d5013a6c3b8.bindTooltip(
                `<div>
                     Vadodara
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_596efc7dd45d4eaa8fb68151656de90c = L.marker(
                [15.3803, 73.835],
                {}
            ).addTo(map_66144f4b91e748c9bd262d339d0eb746);
        
    
        var popup_779d380291e24e77ab738823ec523fc5 = L.popup({"maxWidth": "100%"});

        
            var html_cd0924f6dc4148f381bf9c28ad779ba7 = $(`<div id="html_cd0924f6dc4148f381bf9c28ad779ba7" style="width: 100.0%; height: 100.0%;"><h5>id:2121</h5><br><h5>name:ronaldo</h5><br><h5>contact:325234</h5><br><h5>email:ok@gmail.com</h5><br><a href="/" target="_blank"> Dabolim </a></div>`)[0];
            popup_779d380291e24e77ab738823ec523fc5.setContent(html_cd0924f6dc4148f381bf9c28ad779ba7);
        

        marker_596efc7dd45d4eaa8fb68151656de90c.bindPopup(popup_779d380291e24e77ab738823ec523fc5)
        ;

        
    
    
            marker_596efc7dd45d4eaa8fb68151656de90c.bindTooltip(
                `<div>
                     Dabolim
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9014439d032b404d9296e55ca7e93863 = L.marker(
                [19.0896, 72.8656],
                {}
            ).addTo(map_66144f4b91e748c9bd262d339d0eb746);
        
    
        var popup_516f948af8de496985cb2096b1fcbefb = L.popup({"maxWidth": "100%"});

        
            var html_0a3f1fb0207a48a0869cbf3218c8c120 = $(`<div id="html_0a3f1fb0207a48a0869cbf3218c8c120" style="width: 100.0%; height: 100.0%;"><h5>id:2111</h5><br><h5>name:nisarg</h5><br><h5>contact:21423</h5><br><h5>email:asdsad@ymail.com</h5><br><a href="/" target="_blank"> Sahar </a></div>`)[0];
            popup_516f948af8de496985cb2096b1fcbefb.setContent(html_0a3f1fb0207a48a0869cbf3218c8c120);
        

        marker_9014439d032b404d9296e55ca7e93863.bindPopup(popup_516f948af8de496985cb2096b1fcbefb)
        ;

        
    
    
            marker_9014439d032b404d9296e55ca7e93863.bindTooltip(
                `<div>
                     Sahar
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0961338668d54f18a2528e20e3b3d188 = L.marker(
                [28.5562, 77.1],
                {}
            ).addTo(map_66144f4b91e748c9bd262d339d0eb746);
        
    
        var popup_a341a7c6975e415daa87d0d5bd276a7b = L.popup({"maxWidth": "100%"});

        
            var html_559055cc6d9f4bfebdf45949b4e810b5 = $(`<div id="html_559055cc6d9f4bfebdf45949b4e810b5" style="width: 100.0%; height: 100.0%;"><h5>id:2131</h5><br><h5>name:torentino</h5><br><h5>contact:4534</h5><br><h5>email:na@gmail.com</h5><br><a href="/" target="_blank"> Delhi </a></div>`)[0];
            popup_a341a7c6975e415daa87d0d5bd276a7b.setContent(html_559055cc6d9f4bfebdf45949b4e810b5);
        

        marker_0961338668d54f18a2528e20e3b3d188.bindPopup(popup_a341a7c6975e415daa87d0d5bd276a7b)
        ;

        
    
    
            marker_0961338668d54f18a2528e20e3b3d188.bindTooltip(
                `<div>
                     Delhi
                 </div>`,
                {"sticky": true}
            );
        
</script>