{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Daily DATIS Maintenance Report</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> 
	<div class="container" style="margin: auto; margin-top: 50px;">
			<div style=" width: 60%; margin-left: auto; margin-right: auto;">
					{% for datisd in datis_d %}
					{% if f != 1 %}
					{% if datisd.room_temp < 25 and datisd.status_of_servera == "MAINS" and datisd.status_of_serverb == "STANDBY" and datisd.status_of_ups == "NORMAL" and datisd.status_of_ac == "SVCBL" or datisd.room_temp < 25 and datisd.status_of_servera == "STANDBY" and datisd.status_of_serverb == "MAINS" and datisd.status_of_ups == "NORMAL" and datisd.status_of_ac == "SVCBL" %}
					<div class="alert alert-success">
						<strong style="text-align: center;">Maintenance succesful!</strong> 
										
					{% else %}					
					<div class="alert alert-danger">
						<strong style="text-align: center;">Maintenance failed!!!</strong> 
					
					{% endif %}
					{% endif %}
					{% if f == 1 %}
					<div class="alert alert-danger">
						<strong style="text-align: center;">Report Submitted to the supervisor with Errors</strong> 
					
				   {% endif %}
					<div class="card" style="text-align: center;">				    
						<table style="margin: auto; border: 1px solid black; border-collapse: collapse; margin-top: 30px;">					   
					        <h2>DATIS-TERMA DAILY MAINTENANCE ENTRY</h2>
					      
					      	
							 	<div class="alert alert-light" style="height: 40px; padding-top: 0px">
								    Recorded on:  DATE: {{ datisd.date }}  |  TIME: {{ datisd.time }}<br>
                                    <strong>STATUS: {{ datisd.status }} </strong>
								</div>
						
							  <hr>
							  <tr style="border: 1px solid black; line-height: 30px; font-size: 20px;">
								  <td style="border: 1px solid black; padding-top: 10px; padding-left:10px; padding-right:10px;">Room Temperature</td>
								  <td style="border: 1px solid black; padding-top: 10px; text-align: center;">{{ datisd.room_temp }}</td>
							  </tr>

							  <tr style="border: 1px solid black; line-height: 30px; font-size: 20px;">
								<td style="border: 1px solid black; padding-top: 10px; padding-left:10px; padding-right:10px;">Status of AC</td>
								<td style="border: 1px solid black; padding-top: 10px; text-align: center;">{{ datisd.status_of_ac }}</td>
							</tr>

							<tr style="border: 1px solid black; line-height: 30px; font-size: 20px;">
								<td style="border: 1px solid black; padding-top: 10px; padding-left:10px; padding-right:10px;">Status of UPS</td>
								<td style="border: 1px solid black; padding-top: 10px; text-align: center;">{{ datisd.status_of_ups }}</td>
							</tr>

							<tr style="border: 1px solid black; line-height: 30px; font-size: 20px;">
								<td style="border: 1px solid black; padding-top: 10px; padding-left:10px; padding-right:10px;">Status of Server A</td>
								<td style="border: 1px solid black; padding-top: 10px; text-align: center;">{{ datisd.status_of_servera }}</td>
							</tr>

							<tr style="border: 1px solid black; line-height: 30px; font-size: 20px;">
								<td style="border: 1px solid black; padding-top: 10px; padding-left:10px; padding-right:10px;">Status of Server B</td>
								<td style="border: 1px solid black; padding-top: 10px; text-align: center;">{{ datisd.status_of_serverb }}</td>
							</tr>
						 			      
				  		</table>
				  		
					</div>				  		
				</div>
				  {% endfor %}
			</div>
	</div>

</body>
</html>
