{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weekly DATIS Maintenance Report</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'engineer/datisstyle.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Righteous&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="container">
        <nav class="navbar sticky-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                  
                    <a href='#' onclick="window.location.href='/datisweekly/{{ id }}'" class="taskbut"><img src="{% static '/images/task.png' %}"></a>
                </li>
            </ul>
            <div class="title-header">PREVENTIVE MAINTENANCE LOG<img src="{% static '/images/aai.jpg' %}"></div>
        </nav>
        <br>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <div class="alert alert-danger">
                <strong>Maintenance failed!!!</strong> 
                Please try again.
    <form method='POST' action='/finalwrepsub/{{ p_id }}/{{ id }}'>
        {% csrf_token %}
        {% for datisdw in datisw %}
        <div class="card" style="text-align: center;">
                <div class="card-body">
                  <h2 class="card-title">DATIS-TERMA WEEKLY MAINTENANCE ENTRY</h2>
                  <div class="alert alert-light" style="height: 40px; padding-top: 0px">
                    Recorded on:  DATE: {{ datisdw.date }}  |  TIME: {{ datisdw.time }}<br>
                                    <strong>STATUS: {{ datisdw.status }} </strong>
                </div>
                  <hr>   
      <!--  <input type=text  name="serverAorB" placeholder="{{ datisdw.serveraorb }}"/><br>
        <input type=text  name="UPS_ip" placeholder="{{ datisdw.ups_ip }}"/><br>
        <input type=text  name="UPS_op" placeholder="{{ datisdw.ups_op }}"/><br>
        <input type=text  name="Dust_free" placeholder="{{ datisdw.dust_free }}"/><br>
        <input type=text  name="LAN_status" placeholder="{{ datisdw.lan_status }}"/><br>
        <h4>Remarks to be given to the supervisor</h4>
        <input type=text required name="remarks" /><br>
        <input type="submit">
                         
    </form>-->
     <div class="form-group row has-warning">
                <label for="serverAorB" class="col-sm-6 col-form-label">Server A / B</label>
                <div>
                  <input type="text" class="form-control form-control-sm" id="serverAorB" name="Server A / B" readonly="true" value="{{ datisdw.serveraorb }}">
                </div>
              </div>

              <hr>
              <div class="form-group row has-warning">
                <label for="UPS_ip" class="col-sm-6 col-form-label">UPS Input</label>
                <div>
                   <input type="text" class="form-control form-control-sm" id="UPS_ip" name="UPS Input" readonly="true" value="{{ datisdw.ups_ip }}">
                </div>
              </div>

              <hr>
              <div class="form-group row has-warning">
                <label for="UPS_op" class="col-sm-6 col-form-label">UPS Output</label>
                <div>
                   <input type="text" class="form-control form-control-sm" id="UPS_op" name="UPS Output" readonly="true" value="{{ datisdw.ups_op }}">
                </div>
              </div>

                <hr>  
                <div class="form-group row has-warning">
                  <label for="dust_free" class="col-sm-6 col-form-label">Dust Free</label>
                  <div>
                    
                    <input type="text" class="form-control form-control-sm" id="Dust_free" name="Dust Free" readonly="true" value="{{ datisdw.dust_free }}">
                  </div>
                </div>

                <hr>  
                <div class="form-group row has-warning">
                  <label for="lan_status" class="col-sm-6 col-form-label">LAN Status</label>
                  <div>
                    <input type="text" class="form-control form-control-sm" id="LAN_status" name="LAN Status" readonly="true" value="{{ datisdw.lan_status }}">
                  </div>
                </div>

                <hr>
                 <div class="alert" style="background-color: #DBDBDB;">
                        <strong>Remarks</strong>(Final submission)</div>
    
            <!-- <div class="col-sm-1"></div> -->
                                
                
                <div class="form-group row has-warning"style="padding-left:0" >
                  <textarea class="form-control form-control-sm" rows="5" id="procedure" placeholder="Please specify the reason why error prevails in brief" name='remarks' required="required"></textarea>
                  <!--<input type="textarea" class="form-control " id="room_temp" name="Maintenance Procedure"  style="height:200px;" required>-->
                 
              </div>
                <!--<div class="form-group row has-warning" >
                    <input required type="text" name="remarks" class="form-control form-control-sm" rows="5" id="procedure" placeholder="Please specify the reason why error prevails in brief.">-->
                    <hr>
                    <button class="btn submitbut">FINAL SUBMIT</button>
                  </div>
                    {% endfor %}
              </div>
          </div>
            </form>

    </div>
<script>
$(function(){
     $('#UPS_ip').css('border-color', '#CED4DA');
     $('#UPS_op').css('border-color', '#CED4DA');
     $('#procedure').css('border-color', '#CED4DA');
    });

 $("#UPS_ip").on("keyup",function(){
            if($("#UPS_ip").val()==""){
                 $('#UPS_ip').css('border-color', 'red');
                return false;
            }else{
               $('#UPS_ip').css('border-color', '#CED4DA');
            }
        });
 $("#UPS_op").on("keyup",function(){
            if($("#UPS_op").val()==""){
                 $('#UPS_op').css('border-color', 'red');
                return false;
            }else{
               $('#UPS_op').css('border-color', '#CED4DA');
            }
        });
 
 $("#procedure").on("keyup",function(){
            if($("#procedure").val()==""){
               $('#procedure').css('border-color', 'red');
                return false;
            }else{
               $('#procedure').css('border-color', '#CED4DA');
            }
        });
</script>
</body>        
   
    
</html>


